<!-- views/partials/footer.ejs -->

<footer class="footer_section ">
    <div class="container">
        <!-- <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker"></i> 1234 Street Name, City, Country</li>
                    <li><i class="fa fa-phone"></i> +123 456 7890</li>
                    <li><i class="fa fa-envelope"></i> info@ecommerce.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
        </div> -->
        <!-- <div class="text-center mt-3">
            <p>&copy; 2024 E-Commerce Website. All Rights Reserved.</p>
        </div> -->
    </div>
</footer>
