<%- include("partials/header.ejs") %>
<h1>About me</h1>
<img src="images/65160268.png" alt="65160268">
<br><br>

<h3>Name : Sorrawit Srisuk</h3>

<h3>Age : 22 Years old</h3>

<h3>Education : 3rd Year At Burapha University</h3>

<%- include("partials/footer.ejs") %>