    <%- include("partials/header.ejs") %>
    <h1>Welcome to my Website</h1>
    <img src="images/65160268.png" alt="65160268">
    <br><br>
    <h3>Hi everyone and thank you for visiting my website</h3>
    <%- include("partials/footer.ejs") %>